#navbar{
    text-align: center;
}
#navbar li{
    display:inline-block;
    margin: 0px 46px;
}

#navbarbackground{
    background-color: #02457c;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
}
#navbar li a{
    color:white;
    text-decoration:none;
    font-size:30px;
    font-family:arial;
}

#info{
margin:58px 420px 0px 420px;
font-size:16px;
font-family:arial;
}

#spacebreaker{
    background-color:white;
    width:3px;
    height:45px;
    position:absolute;
    top:12px;
    left:300px
}

#spacebreaker1{
    background-color:white;
    width:3px;
    height:45px;
    position:absolute;
    top:12px;
    left:490px
}

#spacebreaker2{
    background-color:white;
    width:3px;
    height:45px;
    position:absolute;
    top:12px;
    left:690px;
}

#spacebreaker3{
    background-color:white;
    width:3px;
    height:45px;
    position:absolute;
    top:12px;
    left:890px
}

#spacebreaker4{
    background-color:white;
    width:3px;
    height:45px;
    position:absolute;
    top:12px;
    left:1090px
}


#infoextended{
    margin:15px 0px 0px 420px;
    font-size:16px;
    font-family:arial;
}

#navbar li a:hover {
    font-size:37px;

}

#hardwaretable {
    font-size:20px;
    margin:100px 0px;
}