#navbar{
    text-align: center;
}
#navbar li{
    display:inline-block;
}

#navbarbackground{
    background-color: #02457c;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
}
#navbar li a{
    color:white;
    text-decoration:none;
    font-size:30px;
    font-family:arial;
}

#info{
    text-align:;
}